doctype html
html
  head
    meta(charset='utf-8')
    title Products
    link(rel='stylesheet' href='/stylesheets/shop.css')    
  body
    header
      .container
        .logo
          h1 Your Logo
        nav
          ul
            li
              a(href='/') Home
            li
              a(href='/products') Products
            li
              a(href='#') Contact
            li
              a(href='#') About
        .search
            //input#search(type='text' name='search' placeholder='Search...')
            form(action='/products' method='get')
                input(type='text' name='search' placeholder='Search...')
                button(type='submit') Search
        .navigation
          button#sell SELL!
          a(href='/profile') Profile
          a(href='/cart') Cart
          input#logout(type='button' value='')
    main
      .product-list
        each product in products
            a(href='/products/' + product.id)
                .product-card
                    img.image(src=product.image, alt='productImage')
                    h2= product.name                    
                    input(type='hidden' name='productCategory' value=product.category)
                    input(type='hidden' name='ProductId' value=product.id)
                    p.price Ksh. #{product.price}                    
    script(src='/javascripts/authcheck.js')
    script(src='/javascripts/sell.js')    
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    footer
      .container
        p Copyright © 2023
  //script.
    $(document).ready(function() {
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".product-card").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        $(".product-list").prepend($(".product-card:hidden"));
      });
    });